.footer{
  margin-top: 15px;
  height: 300px;
  color: rgb(255, 255, 255);
  background-color: black;

}
.heading{
  color: aliceblue;
  padding: 30px;
}

.Footer-About{
 display: flex;
justify-content: space-between;
}